<div id="<%= dom_id kitten %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= kitten.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Age:</strong>
    <%= kitten.age %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cuteness:</strong>
    <%= kitten.cuteness %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Softness:</strong>
    <%= kitten.softness %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this kitten", kitten, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this kitten", edit_kitten_path(kitten), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
